body {
  min-width: 285px;
}

.progress-table-container {
  width: 100%;
  overflow-x: scroll;
  position: relative;
  margin-top: 5px;
  border: 1px solid #4d75bf;
  border-radius: 5px;
}

.table-heading-wrapper {
  width: 100%;
  top: 0;
  left: 0;
  position: sticky;
  padding: 0.5rem;
  background-color: #78a0e9;
}

.table-heading {
  display: flex;
  color: #000000;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bolder;
}

.get-prev-month-prog-btn,
.get-next-month-prog-btn {
  width: 2rem;
  height: 2rem;
  padding: 0;
  background-color: #78a0e9;
  border: none;
}

.get-prev-month-prog-btn img,
.get-next-month-prog-btn img {
  width: 100%;
  vertical-align: baseline;
}

.progress-table {
  width: max-content;
  border-collapse: collapse;
}

.date-wrapper,
.progress-wrapper {
  width: 60px;
  height: 60px;
  text-align: center;
  background-color: #8daeec;
  border: 1px solid #4d75bf;
}

.date-wrapper {
  color: #5b2a7e;
}

.date {
  border-bottom: 1px solid #4d75bf;
}

.today {
  color: #ff8e31;
  background-color: #ece4b7;
}

.progress-toggle-btn {
  width: 59px;
  height: 59px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  object-fit: contain;
  border: none;
  border-radius: 5px;
}

.habits-heading-wrapper,
.habit-name-wrapper {
  position: sticky;
  width: 20vmax;
  font-weight: bold;
  top: -1px;
  left: -1px;
  z-index: 1;
  border: 1px solid #4d75bf;
  background-color: #8daeec;
}

.habit-name,
.habits-heading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  padding-left: 5px;
  border-right: 1px solid #4d75bf;
  border-left: 1px solid #4d75bf;
}

.habits-heading {
  font-size: 1.4rem;
  text-align: center;
  padding-top: 3%;
  color: #000000;
}

.habit-name {
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.1rem;
  padding-top: 1rem;
  text-overflow: ellipsis;
  max-width: 100%;
  color: #38289d;
}

.progress-toggle-btn.done {
  background-color: #059d06;
}

.progress-toggle-btn.not-done {
  background-color: #e0493e;
}

.progress-toggle-btn.none {
  background-color: #778084;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: 1px solid #78a0e9;
}

::-webkit-scrollbar-thumb {
  background: #78a0e9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c91d7;
}
