<main class="main-container">
  <h1 class="welcome-txt">Welcome to <span style="color: rgb(36, 156, 3)">Habit Tracker</span></h1>
  <p class="tagline">
    Create, track, and maintain the habits that lead to a
    <span style="color: rgb(36, 156, 3)">better you</span>. Start your transformation today.
  </p>
</main>
