<main class="container-flued d-flex flex-column justify-content-center align-items-center">
  <h1 class="welcome-txt">Welcome to <span style="color: rgb(36, 156, 3)">Habit Tracker</span></h1>
  <p class="tagline">
    Create, track, and maintain the habits that lead to a
    <span style="color: rgb(36, 156, 3)">Better You</span>. Start your transformation today.
  </p>
  <a class="go-to-habits-btn" href="/habits">Go to Habits</a>
</main>
